/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.local

# rspec failure tracking
.rspec_status

# Ignore Gemfile lock
Gemfile.lock

# Ignore fetchable linter config
.reek
.rubocop.yml

# Ignore shell history:
.*_hist*

# Ignore docker stuff:
/Dockerfile
/docker-compose.yml

# Ignore gem builds
/authegy-*.gem
