.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.local
**/.DS_Store

# rspec failure tracking
.rspec_status

# Ignore fetchable linter config
.reek
.rubocop.yml

# Ignore shell history:
.*_hist*

# Ignore logs:
log/*.log

# Ignore dummy state:
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/node_modules/
spec/dummy/yarn-error.log
spec/dummy/storage/
spec/dummy/tmp/

# Ignore gem builds
/authegy-*.gem

# Ignore RSpec state:
spec/examples.txt