<nav class="navbar">
  <%= link_to 'Authegy Dummy App', root_path %>
  <div class="spacer"></div>

  <div class="session-control">
    <%- if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %>
      <%- if controller_name != 'registrations' %>
        |
        <%= link_to "Sign up", new_user_registration_path %><br />
      <% end -%>
    <% end -%>
  </div>
</nav>
